@media (min-width: 1200px) {
    .container {
        width: 600px;
    }
}

body {
    padding: 0;
    margin: auto;
    background-color: #929292;
}

.container #notes {
    background-color: #ffffff;
    border-radius: 5px;
}

.note {
    padding: 10px;
    border-bottom: 1px solid #888888;
}

.note:last-child {
    border-bottom: none;
}

#noteForm {
    display: none;
    margin-top: 20px;
}

#noteText {
    resize: vertical;
}

.cancelRemove {
    display: none;
}

a {
    cursor: pointer;
}